body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}
.calculator {
  border: 2px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  background-color: #666;
}
.display {
  font-size: 24px;
  text-align: right;
  margin-bottom: 10px;
  padding: 5px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.buttons {
  display: grid;
  gap: 10px;
}
button {
  font-size: 20px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.operand {
  color: white;
  background-color: #444;
}
.operator,
.equal {
  background-color: #ff9900;
  color: white;
}
.zero {
  width: 100px;
}
.clear {
  width: 100px;
  color: white;
  background-color: #444;
}
